---
import TimelineSection from "./TimelineSection.astro";
import {
  indexTimeline,
  aboutTimeline,
  blogTimeline,
  bookmarksTimeline,
  baseLayoutTimeline,
  markdownPostLayoutTimeline,
  androidTimeline,
} from "./developmentTimeline.ts";
---

      <div class="timeline-container">
        <TimelineSection
          entries={baseLayoutTimeline}
          title="网页基础布局"
          subtitle=""
          tagLabel="baseLayout"
        />
        <TimelineSection
          entries={markdownPostLayoutTimeline}
          title="文章基础布局"
          subtitle=""
          tagLabel="PostLayout"
        />
        <TimelineSection
          entries={indexTimeline}
          title="首页"
          subtitle=""
          tagLabel="index"
        />
        <TimelineSection
          entries={aboutTimeline}
          title="关于"
          subtitle=""
          tagLabel="about"
        />
        <TimelineSection
          entries={blogTimeline}
          title="博客"
          subtitle=""
          tagLabel="blog"
        />
        <TimelineSection
          entries={bookmarksTimeline}
          title="收藏"
          subtitle=""
          tagLabel="bookmarks"
        />
        <TimelineSection
          entries={androidTimeline}
          title="移动端"
          subtitle=""
          tagLabel="android"
        />
      </div>