---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
// src/layouts/MainLayout.astro
import Dock from '../components/Dock.astro';

const leftNav = [
  { title: '首页', icon: '/icons/home.svg', link: '/' },
  { title: '博客', icon: '/icons/categories.svg', link: '/blog' },
  { title: '关于', icon: '/icons/about.svg', link: '/about' }
];

const rightApps = [
  { title: '文章1', icon: '/icons/doc1.svg', link: '/blog/post-1' },
  { title: '文章2', icon: '/icons/doc2.svg', link: '/blog/post-2' }
];

const {pageTitle} = Astro.props;
const {skillColor = 'green', fontWeight = 'normal', textCase = 'none'} = Astro.props;
---
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{pageTitle}</title>
  <!--<style define:vars={{skillColor, fontWeight, textCase}}>-->
  <!--  h1 {-->
  <!--    color: purple;-->
  <!--    font-size: 2rem;-->
  <!--  }-->

  <!--  .skill {-->
  <!--    font-family: monospace;-->
  <!--    color: var(&#45;&#45;skillColor);-->
  <!--    font-weight: var(&#45;&#45;fontWeight);-->
  <!--    text-transform: var(&#45;&#45;textCase);-->
  <!--  }-->
  <!--</style>-->
</head>

<body>
  <Header />
  <h1>{pageTitle}</h1>
  <slot/>
  <Dock {leftNav} {rightApps} />

  <Footer />
  <script>
    import "../scripts/menu.js";
  </script>
</body>

</html>